# Save as config.py

SECRET_KEY = "secret_key"

DATABASES_NAME = 'efigie'
DATABASES_USER =  'name'
DATABASES_PASSWORD = 'password'
DATABASES_HOST = 'host'

EMAIL_HOST_USER = 'email'
EMAIL_HOST_PASSWORD = 'password'

IFTTT_KEY = 'ifttt_key'
