{% extends 'base_admin.html' %}      
{% load core_tags %}
{% load acc_tags %}

{% load static %}

{% block header %}
<h1>
  Bem vindo, PAOLLA<!-- {{user.username}}-->!
  <small>Optional description</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Painel</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="col-md-6">
	<!-- USERS LIST -->
	<div class="box box-danger">
		<div class="box-header with-border">
		  <h3 class="box-title">Latest Members</h3>
		  <div class="box-tools pull-right">
		    <span class="label label-danger">PAOLLA <!-- {{users.count}}--></span>
		    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		  </div>
		</div><!-- /.box-header -->
		<div class="box-body no-padding">
		 <!-- <ul class="users-list clearfix">
		  	{% for latest_user in users %}
		    <li>
		      {% if latest_user.user_image %}
		      <img src="" alt="User Image">
		      {% else %}
		      <img src="{% static 'img/user.png'%}" alt="User Image">
		      {% endif %}
		      <a class="users-list-name" href="{% url 'accounts:profile' latest_user.username %}">{{latest_user.username}}</a>
		      <span class="users-list-date">{{latest_user.date_joined|date:"d/m/y"}}</span>
		    </li>
		    {% empty %}
		    <li>
		    	<p> Nenhum usuário cadastrado!</p>
		    </li>
		    {% endfor %}
		  </ul> --> <!-- /.users-list -->
		</div><!-- /.box-body -->
		<div class="box-footer text-center">
		  <a href="javascript::" class="uppercase">View All Users</a>
		</div><!-- /.box-footer -->
	</div><!--/.box -->
</div><!-- /.col -->
{% endblock %}