{% extends 'base_admin.html' %}  
{% load acc_tags %}
{% load static %}

{% block header %}
<div class="block-header">
    <h2>Alterar Senha</h2>
</div>

{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
      <h2></h2>
  </div>

  <div class="card-body card-padding">
      <form role="form" action="{% url 'accounts:edit_password' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            
            {% if success %}
            <p>A sua senha foi alterada com sucesso</p>
            {% endif %}
            
                {{ form.non_field_errors }}
                {% for field in form %}
               <div class="form-group fg-line">
                    <label for="exampleInputPassword1">{{ field.label_tag }}</label>
                     {{field|addcssclass:"form-control input-sm"}}
                    {{ field.errors }}
                </div>
                {% endfor %}
          <button type="submit" class="btn btn-primary btn-sm m-t-10">Alterar Senha</button>
      </form>
  </div>
</div>
{% endblock %}