{% extends "base.html" %}

{% block content %}
<div class="login-box-body">
        {% if success %}
        <p class="login-box-msg">Sua senha foi criada com sucesso</p>
        <p><a href="{% url 'accounts:Login' %}">Clique aqui</a> para efetuar o login</p>
        {% else %}
        <p class="login-box-msg">Informe sua nova Senha</p>
       <fieldset>
        {{form.non_field_errors}}
        
        {% for field in form %}
        <div class="form-group has-feedback">
          {{field.label_tag}}
          {{field|addcssclass:"form-control"}}
          {{field.errors}}
        </div>
        {% endfor %}
      </fieldset>

      <div class="row">
        <!--<div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>-->
          <button type="submit" class="btn btn-primary btn-block btn-flat">Alterar Senha</button>
      </div>
    </form>
        {% endif %}
    </div>
</div>
{% endblock %}