{% extends "base_login.html" %}
{% load acc_tags %}
{% load static %}
{% block login %}
<div class="login-box-body">
        {% if success %}
        <p class="login-box-msg">Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
        {% else %}
        <p class="login-box-msg">Informe seu E-mail</p>
       <fieldset>
        {{form.non_field_errors}}
        
        {% for field in form %}
        <div class="form-group has-feedback">
          {{field.label_tag}}
          {{field|addcssclass:"form-control"}}
          {{field.errors}}
        </div>
        {% endfor %}
      </fieldset>

      <div class="row">
        <!--<div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>-->
          <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar Email</button>
      </div>
    </form>
        {% endif %}
    </div>
</div>
{% endblock %}