{% load static %}
{% load i18n %}

{% load efigieFilterTags %}

<form action="#" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="
      {% if field.errors %}
        form-group has-error
      {% else %}
        form-group has-feedback
      {% endif %}
    ">
    
    {% for error in field.errors %}
      <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
    {% endfor %}

    {{ field|addcssclass:"form-control input-lg" }}
    </div>
  {% endfor %}

  <div class="form-group has-feedback">
    <button type="submit" class="btn btn-warning btn-block btn-lg">{{ button }}</button>
  </div>
</form> 