{% load static %}
{% load i18n %}

{% load efigieFilterTags %}

<aside class="main-sidebar"> <!-- Left side column. contains the logo and sidebar -->
  <section class="sidebar"> <!-- sidebar: style can be found in sidebar.less -->
    <ul class="sidebar-menu"> <!-- Sidebar Menu -->
      {% with request.resolver_match.url_name as url_name %}
  
        <li class="treeview {% if url_name == 'keyNew' or url_name == 'keyList' or url_name == 'keyImport' or url_name == 'keyShow' %} active {% endif %}">
          <a href="">
            <i class="fa fa-key text-yellow"></i> <span>{% trans 'Chaves RSA' %}</span>
            <i class="fa fa-angle-left pull-right text-yellow"></i>
          </a>

          <ul style="{% if url_name == 'keyNew' or url_name == 'keyList' or url_name == 'keyImport' or url_name == 'keyShow' %} display: block; {% endif %}" class="treeview-menu menu-open">
            {{ 'keyList'|menuItem:url_name }}
            {{ 'keyNew'|menuItem:url_name }}
            {{ 'keyImport'|menuItem:url_name }}
          </ul>
        </li>

        <li class="treeview {% if url_name == 'userSettings' or url_name == 'userEdit' or url_name == 'userPasswordEdit' %} active {% endif %}">
          <a href="">
            <i class="fa fa-cog text-yellow"></i> <span>{% trans 'Configurações' %}</span>
            <i class="fa fa-angle-left pull-right text-yellow"></i>
          </a>
          <ul style="{% if url_name == 'userSettings' or url_name == 'userEdit' or url_name == 'userPasswordEdit'  %} display: block; {% endif %}" class="treeview-menu menu-open">
            {{ 'userSettings'|menuItem:url_name }}
            {{ 'userEdit'|menuItem:url_name }}
            {{ 'userPasswordEdit'|menuItem:url_name }}
          </ul>
        </li>
          {{ 'about'|menuItem:url_name }}
          {{ 'userLogout'|menuItem:url_name }}
      {% endwith %}
    </ul>
  </section>
</aside>