{% load static %}
{% load i18n %}

<aside class="main-sidebar"> <!-- Left side column. contains the logo and sidebar -->
  <section class="sidebar"> <!-- sidebar: style can be found in sidebar.less -->
    <ul class="sidebar-menu"> <!-- Sidebar Menu -->
      {% with request.resolver_match.url_name as url_name %}
        <li class="{% if url_name == 'index' %} active {% endif %}">
          <a href="#"><i class="fa fa-link text-yellow"></i> <span>Link</span></a>
        </li>

        <li class="treeview {% if url_name == 'keyNew' or url_name == 'keyList' or url_name == 'keyImport' %} active {% endif %}">
          <a href="">
            <i class="fa fa-key text-yellow"></i> <span>{% trans 'Chaves RSA' %}</span>
            <i class="fa fa-angle-left pull-right text-yellow"></i>
          </a>

          <ul style="{% if url_name == 'keyNew' or url_name == 'keyList' or url_name == 'keyImport' %} 
                      display: block; 
                     {% endif %}" class="treeview-menu menu-open">
            <li class="{% if url_name == 'keyList' %} active {% endif %}">
              <a href="{% url 'keyList' %}"><i class="fa fa-list text-yellow"></i><span>{% trans 'Listar' %}</span></a>
            </li>
            
            <li class="{% if url_name == 'keyNew' %} active {% endif %}">
              <a href="{% url 'keyNew' %}"><i class="fa fa-plus text-yellow"></i><span>{% trans 'Criar' %}</span></a>
            </li>
            
            <li class="{% if url_name == 'keyImport' %} active {% endif %}">
              <a href="{% url 'keyImport' %}"><i class="fa fa-upload text-yellow"></i><span>{% trans 'Importar' %}</span></a>
            </li>
          </ul>
        </li>

        <li class="treeview {% if url_name == 'userSettings' or url_name == 'userEdit' or url_name == 'userPasswordEdit' %} active {% endif %}">
          <a href="">
            <i class="fa fa-cog text-yellow"></i> <span>{% trans 'Configurações' %}</span>
            <i class="fa fa-angle-left pull-right text-yellow"></i>
          </a>
          <ul style="{% if url_name == 'userSettings' or url_name == 'userEdit' or url_name == 'userPasswordEdit'  %} 
                      display: block; 
                     {% endif %}" class="treeview-menu menu-open">
            <li class="{% if url_name == 'userSettings' %} active {% endif %}">
              <a href="{% url 'userSettings' %}"><i class="fa fa-list-alt text-yellow"></i><span>{% trans 'Resumo da Conta' %}</span></a>
            </li>

            <li class="{% if url_name == 'userEdit' %} active {% endif %}">
              <a href="{% url 'userEdit' %}"><i class="fa fa-user text-yellow"></i><span>{% trans 'Editar Dados' %}</span></a>
            </li>
            
            <li class="{% if url_name == 'userPasswordEdit' %} active {% endif %}">
              <a href="{% url 'userPasswordEdit' %}"><i class="fa fa-lock text-yellow"></i><span>{% trans 'Editar Senha' %}</span></a>
            </li>
            
          </ul>
        </li>

        <li class="{% if url_name == 'about' %} active {% endif %}">
          <a href="{% url 'about' %}"><i class="fa fa-info-circle text-yellow"></i> <span>{% trans 'Sobre' %}</span></a>
        </li>
        
        <li class="{% if url_name == 'userLogout' %} active {% endif %}">
          <a href="{% url 'userLogout' %}"><i class="fa fa-sign-out text-yellow"></i> <span>Logout</span></a>
        </li>
      {% endwith %}
    </ul>
  </section>
</aside>