{% load static %}
{% load i18n %}
{% load utils %}

{% if type == 'delete' %}
  <div class="modal fade" id="deleteModal{{ modal }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ modal }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabel{{ modal }}"><span>{% trans 'Delete' %}</span> {% modelName modal %}</h4>
        </div>
        <div class="modal-body">{% trans 'Deleting' %} <b><span></span></b>. {% trans 'Do you want to continue?' %}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          <a href="" class="btn btn-danger">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
  </div>

{% elif type == 'user_delete' %}

  <div class="modal fade modal-danger" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabel">{% trans 'Are you sure you want to do this?' %}</h4>
        </div>
        <form action="#" method="post">

          <div class="modal-body">
            {% trans '<p>We will <b>immediately</b> remove all RSA key related only to you, together with all your friends.</p>' %}

            {% csrf_token %}
            {% for field in form %}
              <div class="form-group has-feedback">

              {% if field.field.required %}* {% endif %}<b>{{ field.label }}</b>: &nbsp;

              {% for error in field.errors %}
                <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
              {% endfor %}

              {{ field|addcssclass:'form-control' }}
              </div>
            {% endfor %}
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-outline" ><i class="fa fa-times"></i> <span>{% trans 'Delete' %}</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endif %}
