{% extends '_templ.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block body %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {% urlTitle request.resolver_match.url_name %}{% block header %} {% endblock %}
      </h1>

      {{ request.META.efigie.breadcrumbs|safe }}
    </section>

    <section class="content">
      {% emailConfirmation user as confimation  %}
      {% if confimation %}
        <div class="callout callout-danger">
          <h4> Alerta</h4>
          <p><i class="icon fa fa-ban"></i> Aguardando a confirmação de e-mail ou <a href="{% url 'userEdit' %}"> clique aqui</a> para alteração.</p>
        </div>
      {% endif %}

      {% include '_alert.html' %}
      {% block content %} {% endblock %}
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('ul').removeClass('form-control');
    $('ul').removeClass('input-lg');
    $('ul input').removeClass('form-control');
    $('ul input').removeClass('input-lg');

  </script>
{% endblock %}
