{% extends '_templ.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block style %}
  <style type="text/css">
    form ul {
      list-style-type: none;
    }
  </style>
{% endblock %}


{% block body %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {% urlTitle request.resolver_match.url_name %}{% block header %} {% endblock %}
      </h1>

      {{ request.META.efigie.breadcrumbs|safe }}
    </section>

    <section class="content">
      {% emailConfirmation request.user as confimation  %}
      {% if confimation %}
        <div class="callout callout-danger">
          <p><i class="icon fa fa-ban"></i> {% trans 'Waiting for a email confirmation or ' %}<a href="{% url 'userEdit' %}">{% trans 'click here' %}</a>{% trans ' to change it.' %} </p>
        </div>
      {% endif %}

      {% include '_alert.html' %}
      {% block content %} {% endblock %}
    </section>
  </div>
{% endblock %}
