{% extends '_template.html' %}
{% load static %}
{% load i18n %}
{% load efigieAssignmentTags %}

{% block header %}: <b>{{ key.identifier }}</b> {% endblock %}

{% block content %}
  
  {% include '_model.html' with url_name='keyDelete' id=key.id %}

  <div class="box box-warning">
    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>{% trans "Identificador" %}</dt>
        <dd>{{ key.identifier }}</dd>
        <dt>{% trans "Tamanho da Chave" %}</dt>
        <dd>{{ key.size }}</dd>
        <dt>{% trans "Chave" %} {% trans "Publica" %}</dt>
        <dd>{{ key.publicKey }}</dd>
        <dt>{% trans "Chave" %} {% trans "Privada" %}</dt>
        <dd>{{ key.privateKey }}</dd>
      </dl>
    </div>
    <div class="box-footer">
      <a href="{% url 'keyExport' key.id %}" download class="btn btn-info" ><span><i class="fa {% urlIcon 'keyExport' %} "></i> {% urlTitle 'keyExport' %} </span></a>
      
      <a href="{% url 'keyEdit' key.id %}" class="btn btn-info" ><span><i class="fa {% urlIcon 'keyEdit' %}"></i> {% urlTitle 'keyEdit' %} </span></a>

      <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-times"></i> <span>{% trans "Deletar" %}</span></a>
    </div>
  </div>

{% endblock %}