{% load static %}
{% load i18n %}

{% load efigieFilterTags %}

<div class="modal fade modal-danger" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">{% trans 'Você tem certeza que deseja fazer isso?' %}</h4>
      </div>
      <div class="modal-body">
      {% trans '<p>Excluiremos <b>imediatamente</b> todas as chaves relacionados somente a voce, juntamente com todos os seus contatos.</p>' %}
        <form action="#" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="
              {% if field.errors %}
                form-group has-feedback
              {% else %}
                form-group has-error
              {% endif %}
            ">
            
            {% for error in field.errors %}
              <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
            {% endfor %}

            {{ field|addcssclass:"form-control" }}
            </div>
          {% endfor %}

        </div> 
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-outline" ><i class="fa fa-times"></i> <span>{% trans 'Deletar' %}</span></button>
        </div>
      </form> 

    </div>
  </div>
</div>