{% extends "_template.html" %}
{% load static %}
{% load efigieSimpleTags %}

{% load i18n %}

{% block header %} {% trans "Configuracoes" %} {% endblock %}

{% block content %}
  
  {% userDeleteTag user form as confirmation  %}
  {% include "_confirmation.html" with confirmation=confirmation %}
  {% include "_alert.html" with description=description alert=alert %}

  <div class="box box-warning ">
    <div class="box-header with-border" >
      <h1 class="box-title">{% trans "Perfil" %}</h1>
    </div>

    <div class="box-body ">
      <dl class="dl-horizontal">
        <dt class="with-border" >{% trans "Nome Completo" %}</dt>
        <dd >{{ request.user.first_name }} {{ request.user.last_name }}</dd>

        <dt class="with-border">Username</dt>
        <dd >{{ request.user.username }}</dd>

        <dt >E-mail</dt>
        <dd >{{ request.user.email }}</dd>

        <dt >Membro desde</dt>
        <dd >{{ request.user.date_joined }}</dd>
      </dl>  
    </div>

    <div class="box-footer">
      <a type="submit" class="btn btn-info" href="#"><span>{% trans "Editar" %} {% trans "Dados" %}</span></a>
      <a type="submit" class="btn btn-info" href="#"><span>{% trans "Editar" %} {% trans "Senha" %}</span></a>
      <a type="button" class="btn btn-danger pull-rigth" data-toggle="modal" data-target="#confirmationModal"><span><i class="fa fa-times"></i> {% trans "Deletar" %}</a>
    </div>
  </div>
{% endblock %}