{% extends '_template.html' %}
{% load static %}
{% load i18n %}
{% load efigieAssignmentTags %}

{% block header %} {% endblock %}

{% block content %}
  {% include '_model.html' with form=form %}

  <div class="box box-warning ">
    <div class="box-header with-border" >
      <h1 class="box-title">{% trans 'Dados Pessoais' %}</h1>
    </div>

    <div class="box-body ">
      <dl class="dl-horizontal">
        <dt class="with-border" >{% trans 'Nome Completo' %}</dt>
        <dd >{{ request.user.get_full_name }}</dd>

        <dt class="with-border">Username</dt>
        <dd >{{ request.user.username }}</dd>

        <dt >E-mail</dt>
        <dd >{{ request.user.email }}</dd>

        <dt >{% trans 'Membro desde' %}</dt>
        <dd >{{ request.user.date_joined|date:'SHORT_DATE_FORMAT' }}</dd>
      </dl>  
    </div>

    <div class="box-footer">

      <a class="btn btn-info" href="{% url 'userEdit' %}">
        <span><i class="fa {% urlIcon 'userEdit' %} "></i> {% urlTitle 'userEdit' %}</span>
      </a>
      
      <a class="btn btn-info" href="{% url 'userPasswordEdit' %}" >
        <span><i class="fa {% urlIcon 'userPasswordEdit' %} "></i> {% urlTitle 'userPasswordEdit' %}</span>
      </a>
      
      <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        <span><i class="fa {% urlIcon 'userDelete' %}"></i> {% urlTitle 'userDelete' %}</span>
      </a>

    </div>
  </div>
{% endblock %}